*{border: 1px dotted: orange;
}
body{}
h1{ Color: ECAB21;
        background-color: 493627;
      text-align:center;
      height:150px;
      line-height: 150px;
      font-size: 65px;
    display: block;
  }

header{ color: ECAB21;
        background-color: 493627;
        text-align: center;
        font-size: 20px;
      display: block;
    }
nav{
  position:absolute;
  background-color:#f4b642;
  margin-top: -44px;
  width: 220px;
  height: 1480px;
  display: inline-block;
  font-size: 18px;
  }
section{
  width: auto;
  display:inline-block;
  padding-left: 450px;
  vertical-align: top;
}
.picture{
  width:1200px;
  height: 675px;
}
a{
  text-decoration: none;
  font-size: 25px;
  color: 493627;
}

a img.another { display: none; }

   a:hover img.actul { display: none }
   a:hover img.another { display: block; }

article{color: ECAB21;
}

.run{ padding-left: 150px;
      font-family: TimesNewRoman;
      font-size: 30px;
      display: inline-block;
    }
.hello{position: abolute;
      padding-left: -250px;
      font-size: 20px;
      list-style-type: none;
}
.goodbye{ padding-left: 50px;
          font-size: 20px;
          list-style-type: none;}
.night{ display:
}
/*<style>*/
   /*a img.Large { display: none; }*/

   /*a:hover img.Small { display: none }*/
   /*a:hover img.Large { display: block; }*/
/*</style>*/
/**/
/*<a href="your link">*/
   /*<img class="Small" src="images/asiago.png"*/
      /*width="32" height="32"*/
      /*alt="Photoshop Enhancement" />*/

   /*<img class="Large" src="images/bagel-asiago.png"*/
      /*width="800" height="753"*/
      /*alt="Photoshop Enhancement" />*/
/*</a>*/

footer{
  background-color: 493627;
  color: ECAB21;
  height: 100px;
  text-align:center;
  padding-top: 40px;
  font-size: 35px
  display: block;
  text-align: center;
}
